<div class="flex flex-col items-center flex-wrap border-yellow-300">
  <div class=" border border-yellow-200 p-6 rounded">
    <div class="text-4xl mt-6 text-gray-800">
      <%= @article.title %>
    </div>
    <div class="w-[800px] mt-6 text-gray-700">
      <%= @article.content %>
    </div>
  </div>
</div>

